/* 
    ## Menu animation
*/

#nav:checked+.nav-btn i {
    background: #000;
    transition: transform 0.2s ease;
}

#nav:checked+.nav-btn i:nth-child(1) {
    transform: translateY(5px) rotate(-135deg);
}

#nav:checked+.nav-btn i:nth-child(2) {
    transform: translateY(-6px) rotate(135deg);
}

#nav:checked~.nav-wrapper {
    z-index: 9990;
    opacity: 1;
}

#nav:checked~.nav-wrapper ul li a {
    opacity: 1;
    transform: translateX(0);
}


/*
    ## Title Animation
*/

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: orange
    }
}